.hero-banner {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 0.8rem;
}

.hero-banner__avatar {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 4.125rem;
  height: 4.125rem;
}

.hero-banner__avatar__image,
.hero-banner__media__image {
  max-width: 100%;
  width: 100%;
}

.hero-banner__avatar__image {
  border-radius: 999px;
  border: 2px solid $white;
}

.banner {
  background: $purple;
  color: $white;
  padding-bottom: 0.875rem;
  padding-top: 0.625rem;
}

.banner__content {
  text-align: center;
  display: block;
  font-size: 0.9375rem;
}

.banner__date {
  font-size: 0.8rem;
  display: block;
  text-align: center;
}
