.edit-controller-wrapper {
  display: flex;;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1.8125rem;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
.edit-controller {
  padding: 0.375rem 1.25rem 0rem 1.25rem;
  border-radius: 5px;
  box-shadow: 0px 0px 8px -2px rgba($warm-grey,0.6);
  width: 100%;
  & + & {
    margin-left: 1rem;
  }
  @include media-breakpoint-down(md) {
    & + & {
      margin-top: 0.4375rem;
      margin-left: 0;
    }
  }
  
}
.edit-controller__heading {
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  .green & {
    color: $green
  }

  .blue & {
    color: $blue
  }
}

.edit-controller__description {
  font-size: 0.8rem;
  color: $blueish-grey;
  text-align: center;
}
