// excess height to improve interactive area / accessibility
$height: 30px;
$thumb-height: 20px;
$track-height: 6px;
$upper-color: $light-blue;
$upper-color-green: $light-green;
$lower-color: $blue;
$thumb-color: $blue;
$thumb-color-green: $green;
$thumb-hover-color: #55c2ff;
$upper-background: linear-gradient(to bottom, $upper-color, $upper-color) 100% 50% / 100% $track-height no-repeat
  transparent;
$lower-background: linear-gradient(to bottom, $lower-color, $lower-color) 100% 50% / 100% $track-height no-repeat
  transparent;
$upper-background-green: linear-gradient(to bottom, $light-green, $light-green) 100% 50% / 100% $track-height no-repeat
  transparent;
$lower-background-green: linear-gradient(to bottom, $green, $green) 100% 50% / 100% $track-height no-repeat transparent; // Webkit cannot style progress so we fake it with a long shadow

// on the thumb element
@function webkit-slider-thumb-shadow($i: 1) {
  $val: #{$i}px 0 0 -#{($thumb-height - $track-height) / 2} #{$upper-color};

  @if $i==1 {
    @for $k from 2 through 1000 {
      $val: #{$val}, webkit-slider-thumb-shadow($k);
    }
  }

  @return $val;
}

@function webkit-slider-thumb-shadow-green($i: 1) {
  $val: #{$i}px 0 0 -#{($thumb-height - $track-height) / 2} #{$upper-color-green};

  @if $i==1 {
    @for $k from 2 through 1000 {
      $val: #{$val}, webkit-slider-thumb-shadow-green($k);
    }
  }

  @return $val;
}

.styled-input {
  position: relative;
  overflow: hidden;
}

.styled-input__range {
  display: block;
  appearance: none;
  width: calc(100% - 4px);
  margin: auto;
  height: $height;
  cursor: pointer;
  background: transparent;
  position: relative;
  border-radius: 5px;
  z-index: 3;

  &:focus {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    -webkit-appearance: none;
    opacity: 1;
  }
}

.styled-input__round {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &:after {
    position: absolute;
    content: "";
    width: $track-height;
    height: $track-height;
    left: 0;
    top: 50%;
    background: $blue;
    border-bottom-left-radius: $track-height * 2;
    border-top-left-radius: $track-height * 2;
    transform: translateY(-50%);
    // z-index: -1;
  }

  &:before {
    position: absolute;
    content: "";
    width: $track-height;
    height: $track-height;
    right: 0;
    top: 50%;
    background: $light-blue;
    border-bottom-right-radius: $track-height * 2;
    border-top-right-radius: $track-height * 2;
    transform: translateY(-50%);
    // z-index: -1;
  }

  .blue &:after {
    background: $light-blue;
  }

  .blue &:after {
    background: $blue;
  }

  .green &:before {
    background: $light-green;
  }

  .green &:after {
    background: $green;
  }
}

// Webkit

.styled-input__range {
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $height;
    overflow: hidden;
  }

  .green &::-webkit-slider-runnable-track {
    background: $lower-background-green;
  }

  .blue &::-webkit-slider-runnable-track {
    background: $lower-background;
  }
}

.styled-input__range {
  &::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    height: $thumb-height;
    width: $thumb-height;
    background: $thumb-color;
    border-radius: 100%;
    border: 3px solid $white;
    top: 50%;
    margin-top: (-$thumb-height/2);
    box-shadow: webkit-slider-thumb-shadow();
    transition: background-color 150ms;
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .green &::-webkit-slider-thumb {
    background: $thumb-color-green;
    box-shadow: webkit-slider-thumb-shadow-green();
  }

  .blue &::-webkit-slider-thumb {
    background: $thumb-color;
    box-shadow: webkit-slider-thumb-shadow();
  }
}

// Firefox

.styled-input__range {
  &::-moz-range-track {
    width: 100%;
    height: $height;
  }

  .green &::-moz-range-track {
    background: $upper-background-green;
  }

  .blue &::-moz-range-track {
    background: $upper-background;
  }
}

.styled-input__range {
  &::-moz-range-progress {
    width: 100%;
    height: $height;
  }

  .green &::-moz-range-progress {
    background: $lower-background-green;
  }

  .blue &::-moz-range-progress {
    background: $lower-background;
  }
}

.styled-input__range {
  &::-moz-range-thumb {
    appearance: none;
    margin: 0;
    height: $thumb-height;
    width: $thumb-height;
    border-radius: 100%;
    border: 3px solid $white;
    transition: background-color 150ms;
  }

  .green &::-moz-range-thumb {
    background: $thumb-color-green;
  }

  .blue &::-moz-range-thumb {
    background: $thumb-color;
  }
}

// Internet Exploder

.styled-input__range::-ms-track {
  width: 100%;
  height: $height;
  border: 0;
  // color needed to hide track marks
  color: transparent;
  background: transparent;
}

.styled-input__range::-ms-fill-lower {
  // background: $lower-background;
  .green & {
    background: $lower-background-green;
  }

  .blue & {
    background: $lower-background;
  }
}

.styled-input__range::-ms-fill-upper {
  // background: $upper-background;
  .green & {
    background: $upper-background-green;
  }

  .blue & {
    background: $upper-background;
  }
}

.styled-input__range::-ms-thumb {
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 100%;
  border: 3px solid $white;
  transition: background-color 150ms;
  // IE Edge thinks it can support -webkit prefixes
  top: 0;
  margin: 0;
  box-shadow: none;
}

.upload__label {
  position: relative;
  max-width: 100%;
  margin-right: 8rem;
  height: 30px;
  width: 100%;
  border: 1px solid $pale-grey;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  display: flex;
  font-weight: bold;

  @include media-breakpoint-down(md) {
    max-width: 12.93rem;
    margin-right: 0;
  }
}

.upload__label__title {
  user-select: none;
  padding: 0.2rem 0.5rem;
  color: $light-grey;
  background-color: rgba($pale-grey, 0.3);
  border-right: 1px solid $pale-grey;
  font-size: 0.65rem;
  letter-spacing: 2px;
  vertical-align: middle;
  height: 100%;
}

.upload__label__filename {
  color: $green;
  letter-spacing: 2px;
  font-size: 0.65rem;
  padding: 0.2rem 0.5rem;
  padding-left: 0.5rem;
  align-self: center;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  height: 100%;
}

.upload__input {
  position: absolute;
  max-width: 87px;
  width: 100%;
  height: 30px;
  right: 9px;
  bottom: 7px;
  font-size: 0px;
  opacity: 0;
  cursor: pointer;

  &::-webkit-file-upload-button {
    opacity: 0;
    visibility: hidden;
    width: 100%;
  }
}

.upload {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-left: 8px;
  padding-right: 9px;
  padding-bottom: 7px;
  position: relative;
}

.upload__button {
  appearance: none;
  border: 1px solid $pale-grey;
  border-radius: 4px;
  font-size: 0.75rem;
  color: $blue;
  max-width: 87px;
  width: 100%;
  height: 30px;
  padding: 0.2rem 0.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba($pale-grey, 0.2);
  cursor: pointer;
  line-height: 1;
  font-weight: bold;

  &:disabled {
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
}

@supports (-webkit-marquee-repetition: infinite) and (object-fit: fill) {
  .styled-input__range::-webkit-slider-runnable-track {
    overflow: visible;
  }
}
