<template>
  <div class="edit-controller" :class="colour">
    <div class="edit-controller__heading">{{heading}}</div>
    <div class="styled-input">
      <input
        type="range"
        step="1"
        :disabled="isInputDisabled ? 'disabled' : null"
        :value="value"
        v-on:input="updateValue($event.target.valueAsNumber)"
        class="styled-input__range"
        min="-100"
        max="100"
      />
      <span class="styled-input__round"></span>
    </div>
    <div class="edit-controller__description">{{description}}</div>
  </div>
</template>

<script>
export default {
  name: "editController",
  props: {
    msg: {
      type: String,
      default: ""
    },
    colour: {
      type: String
    },
    heading: {
      type: String
    },
    description: {
      type: String
    },
    value: {
      type: Number
    },
    isInputDisabled: {
      type: String,
      default: "disabled"
    }
  },
  methods: {
    updateValue: function(value) {
      this.$emit("input", value);
    }
  }
};
</script>
