<template>
  <div class="hero-banner">
    <div class="hero-banner__media">
      <img src="@/assets/hero.png" alt="hero image" class="hero-banner__media__image" />
    </div>
    <div class="hero-banner__avatar">
      <img src="@/assets/avatar.jpg" alt="avatar" class="hero-banner__avatar__image" />
    </div>
  </div>
</template>

<script>
export default {
  name: "heroBanner",
  props: {
    msg: {
      type: String,
      default: ""
    }
  }
};
</script>
