<template>
  <div class>
    <div class="banner">
      <p class="banner__content">Brightness &amp; Contrast Developer Test</p>
      <p class="banner__date">01 Jun, 2018 - 31 Dec, 2019</p>
    </div>
    <heroBanner></heroBanner>
    <div class="container">
      <div class="edit-controller-wrapper">
        <editController
          :isInputDisabled="isInputDisabled"
          v-model="brightnessRange"
          colour="green"
          heading="Brightness"
          description="Slide to adjust image brightness!☀️"
        ></editController>
        <editController
          :isInputDisabled="isInputDisabled"
          v-model="contrastRange"
          colour="blue"
          heading="Contrast"
          description="Slide to adjust image contrast! 🌓"
        ></editController>
      </div>
      <div class="canvas-wrapper">
        <canvas :width="canvasWidth" :height="canvasHeight" ref="canvas" class="canvas"></canvas>
        <div class="upload">
          <div class="upload__label">
            <span class="upload__label__title">NAME</span>
            <span class="upload__label__filename">{{fileName}}</span>
          </div>
          <label for="imageinput"><input
            @change="onFileChange"
            type="file"
            id="imageinput"
            class="upload__input"
            accept="image/*"
          /></label>
          <button type="button" class="upload__button">▲ upload</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import editController from "@/components/edit-controller";
import heroBanner from "@/components/hero-banner";
export default {
  name: "imageEditor",
  components: {
    editController,
    heroBanner
  },
  data() {
    return {
      canvas: "",
      context: {},
      canvasWidth: window.innerWidth - 42,
      canvasHeight: 212,
      filePath: "",
      brightnessRange: 0,
      contrastRange: 0,
      isInputDisabled: "disabled",
      fileName: "No file chosen"
    };
  },
  watch: {
    brightnessRange: function() {
      this.createCanvas();
    },
    contrastRange: function() {
      this.createCanvas();
    }
  },
  methods: {
    createCanvas() {
      //create canvas board
      this.canvas = this.$refs.canvas;
      this.context = this.canvas.getContext("2d");
      const drawingBoard = new Image();
      drawingBoard.src = this.filePath;
      //draw on canvas
      drawingBoard.onload = () => {
        let aspectRatio = drawingBoard.width / drawingBoard.height;
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
        this.context.drawImage(
          drawingBoard,
          0,
          0,
          this.canvasWidth,
          this.canvasWidth / aspectRatio
        );
        this.changeImage();
      };
    },
    onFileChange(e) {
      //convert a Blob into an addressable URL
      this.filePath = URL.createObjectURL(e.target.files[0]);
      this.fileName = e.target.files[0].name;
      this.uploadFile();
    },
    uploadFile() {
      //enable the input slider
      this.isInputDisabled = null;
      this.brightnessRange = 0;
      this.contrastRange = 0;
      this.createCanvas();
    },
    changeImage() {
      const imgData = this.context.getImageData(
        0,
        0,
        this.canvasWidth,
        this.canvasHeight
      );
      const brightness = this.brightnessRange;
      const contrast =
        (259.0 * (this.contrastRange + 255.0)) /
        (255.0 * (259.0 - this.contrastRange));

      //credit to : https://css-tricks.com/manipulating-pixels-using-canvas/
      for (var i = 0; i < imgData.data.length; i += 4) {
        imgData.data[i] += 255 * (brightness / 100);
        imgData.data[i + 1] += 255 * (brightness / 100);
        imgData.data[i + 2] += 255 * (brightness / 100);
      }
      for (var k = 0; k < imgData.data.length; k += 4) {
        imgData.data[k] = this.truncateColor(
          contrast * (imgData.data[k] - 128.0) + 128.0
        );
        imgData.data[k + 1] = this.truncateColor(
          contrast * (imgData.data[k + 1] - 128.0) + 128.0
        );
        imgData.data[k + 2] = this.truncateColor(
          contrast * (imgData.data[k + 2] - 128.0) + 128.0
        );
      }
      this.context.putImageData(imgData, 0, 0);
    },
    truncateColor(value) {
      if (value < 0) {
        value = 0;
      } else if (value > 255) {
        value = 255;
      }
      return value;
    },
    myResizeEventHandler() {
      this.canvasWidth = window.innerWidth - 42;
      this.createCanvas();
    }
  },
  created() {
    window.addEventListener("resize", this.myResizeEventHandler);
  },
  destroyed() {
    window.removeEventListener("resize", this.myResizeEventHandler);
  }
};
</script>
