<template>
  <div id="app">
    <imageEditor></imageEditor>
  </div>
</template>

<script>
import imageEditor from '@/components/image-editor.vue'

export default {
  name: 'app',
  components: {
    imageEditor
  }
}
</script>

<style lang="scss">
    @import "./scss/styles.scss";
</style>
