.u-text{                       color: $navy; }
.u-text-invert{                color: $white; }
.u-text-gold{                  color: $gold; }
.u-text-gold-light{            color: $gold-light; }
.u-text-gold-dark{             color: $gold-dark; }
.u-text-faint{                 color: $warm-grey; }

.u-text-center, %u-text-center     { text-align: center;  }
.u-text-left, %u-text-left       { text-align: left;    }
.u-text-right, %u-text-right      { text-align: right;   }
.u-text-upper, %u-text-upper { text-transform: uppercase; }
.u-text-lower, %u-text-lower { text-transform: lowercase; }
.u-text-inline, %u-text-inline { display: inline-block; }
.u-margin-auto, %u-margin-auto { margin: auto; }
.u-z-index-before-1::before {z-index: -1;}
.u-primary-link, %u-primary-link  {
  color: $white;
  text-decoration: none;
}


.u-font-bold       { font-weight: bold;   }

// screen-reader only
.u-sr-only, %u-sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-clearfix, %u-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.no-gutters-col, %no-gutters-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-gutters-row, %no-gutters-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@mixin no-gutters-col() {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@mixin no-gutters-row() {
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.u-margin-top-xs {
  margin-top: $spacer-xs !important;
}

.u-margin-top-s {
  margin-top: $spacer-xs !important;
  @include media-breakpoint-up(md) {
    margin-top: $spacer-s !important;
  }
}

.u-margin-top-m {
  margin-top: $spacer-m-mobile !important;
  @include media-breakpoint-up(md) {
    margin-top: $spacer-m !important;
  }
}

.u-margin-top-l {
  margin-top: $spacer-l-mobile !important;
  @include media-breakpoint-up(md) {
    margin-top: $spacer-l !important;
  }
}

.u-margin-bottom-xs {
  margin-bottom: $spacer-xs !important;
}

.u-margin-bottom-s {
  margin-bottom: $spacer-xs !important;
  @include media-breakpoint-up(md) {
    margin-bottom: $spacer-s !important;
  }
}

.u-margin-bottom-m {
  margin-bottom: $spacer-m-mobile !important;
  @include media-breakpoint-up(md) {
    margin-bottom: $spacer-m !important;
  }
}

.u-margin-bottom-l {
  margin-bottom: $spacer-l-mobile !important;
  @include media-breakpoint-up(md) {
    margin-bottom: $spacer-l !important;
  }
}

.u-padding-bottom-xs {
  padding-bottom: $spacer-xs !important;
}

.u-padding-bottom-s {
  padding-bottom: $spacer-xs !important;
  @include media-breakpoint-up(md) {
    padding-bottom: $spacer-s !important;
  }
}

.u-padding-bottom-m {
  padding-bottom: $spacer-m-mobile !important;
  @include media-breakpoint-up(md) {
    padding-bottom: $spacer-m !important;
  }
}

.u-padding-bottom-l {
  padding-bottom: $spacer-l-mobile !important;
  @include media-breakpoint-up(md) {
    padding-bottom: $spacer-l !important;
  }
}

.u-padding-top-xs {
  padding-top: $spacer-xs !important;
}

.u-padding-top-s {
  padding-top: $spacer-xs !important;
  @include media-breakpoint-up(md) {
    padding-top: $spacer-s !important;
  }
}

.u-padding-top-m {
  padding-top: $spacer-m-mobile !important;
  @include media-breakpoint-up(md) {
    padding-top: $spacer-m !important;
  }
}

.u-padding-top-l {
  padding-top: $spacer-l-mobile !important;
  @include media-breakpoint-up(md) {
    padding-top: $spacer-l !important;
  }
}

.u-hide-pageWidth-down {
  @include media-breakpoint-down(pageWidth) {
    display: none !important;
  }
}
.u-hide-stats-down {
  @include media-breakpoint-down(stats) {
    display: none !important;
  }
}
.u-hide-xl-down {
  @include media-breakpoint-down(xl) {
    display: none !important;
  }
}
.u-hide-lg-down {
  @include media-breakpoint-down(lg) {
    display: none !important;
  }
}
.u-hide-md-down {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}
.u-hide-sm-down {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}
.u-hide-xs-down {
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
}
.u-hide-pageWidth-up {
  @include media-breakpoint-up(pageWidth) {
    display: none !important;
  }
}
.u-hide-stats-up {
  @include media-breakpoint-up(stats) {
    display: none !important;
  }
}
.u-hide-xl-up {
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}
.u-hide-lg-up {
  @include media-breakpoint-up(lg) {
    display: none !important;
  }
}
.u-hide-md-up {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}
.u-hide-sm-up {
  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}
.u-hide-xs-up {
  @include media-breakpoint-up(xs) {
    display: none !important;
  }
}


.u-page-spacer-xl {
  margin-top: 1.5*$page-spacer-top-lg-m !important;
  @include media-breakpoint-up(md) {
    margin-top: 1.5*$page-spacer-top-lg !important;
  }
}

.u-page-spacer-lg {
  margin-top: $page-spacer-top-lg-m !important;
  @include media-breakpoint-up(md) {
    margin-top: $page-spacer-top-lg !important;
  }
}

.u-page-spacer-md {
  margin-top: $page-spacer-top-md-m !important;
  @include media-breakpoint-up(md) {
    margin-top: $page-spacer-top-md !important;
  }
}

.u-page-spacer {
  margin-top: $page-spacer-top-m !important;
  @include media-breakpoint-up(md) {
    margin-top: $page-spacer-top !important;
  }
}

.u-page-spacer-bottom {
  margin-bottom: $page-spacer-top-m !important;
  @include media-breakpoint-up(md) {
    margin-bottom: $page-spacer-top !important;
  }
}

.u-margin-bottom-none { margin-bottom: 0 !important;  }
.u-pad-bottom-none    { padding-bottom: 0 !important; }
.u-margin-top-none { margin-top: 0 !important;  }
.u-pad-top-none    { padding-top: 0 !important; }

.u-margin-bottom-m-none {
  @include media-breakpoint-down(sm) {
    margin-bottom: 0 !important;
  }
}

.u-pad-bottom-m-none {
  @include media-breakpoint-down(sm) {
    padding-bottom: 0 !important;
  }
}

.u-margin-top-m-none {
  @include media-breakpoint-down(sm) {
    margin-top: 0 !important;
  }
}

.u-pad-top-m-none {
  @include media-breakpoint-down(sm) {
    padding-top: 0 !important;
  }
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-column-reverse-m-only {
  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
  }
}
