// Color Palette
$navy:                       #242b49;
$gold:                       #dfb764;
$gold-light:                 #ffeac8;
$gold-dark:                  #cbbca4;
$warm-grey:                  #9b9b9b;
$pinkish-grey:               #cbcbcb;
$pale-grey:                  #e4e7ec;
$blueish-grey:               #42506B;
$red:                        #ed1c24;
$yellow:                     #ffda00;
$white:                      #f5f5f5;
$white-two:                  #f9f7f5;
$white-pure:                 #ffffff;
$blue:                       #4A90E2;
$green:                      #25A95B;
$black:                      #1b1b1b;
$light-green:                #C8E9D6;
$light-blue:                 #C8DBE9;
$light-grey:                 #8392A6;
$purple:                     #7344C0;

// - Defined Variables --- Use these.
$text:                       $black;
$text-invert:                $white;
$text-gold:                  $gold;
$text-gold-light:            $gold-light;
$text-gold-dark:             $gold-dark;
$text-faint:                 $warm-grey;
$text-faint-invert:          rgba($text-invert, 0.75);
$text-invert-pure:           $white-pure;
$text-black:                  $black;

$block-page:                 $white;
$block-page-border:          $pinkish-grey;
$block-page-bg:              $white-two;
$block-page-no:              rgba($pinkish-grey, 0.08);
$block-page-contact:         $pale-grey;
$block-page-case-study-border: $pale-grey;
$block-page-country:          $black;
$contact-us-border:           #c4cdd5;


$button-primary:             $navy;
$button-primary--hover:      $pale-grey;

$form-lines:                 $warm-grey;
$form-blocks:                $pinkish-grey;
$form-lines--focus:          $pinkish-grey;
$form-blocks--focus:         $white;

$form-ui-outline:            $warm-grey;
$form-ui-hover:              $warm-grey;
$form-ui-selected:           $warm-grey;
$form-ui-selected-hover:     $warm-grey;

$error:                      $red;

// Breakpoint variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  stats: 1333px,
  pageWidth: 1400px,
  caseStudyPage: 1472px,
  caseStudy: 1570px,
  gridWidth: 1600px,
  expertise: 1815px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-grid-classes:       true !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns:                12 !default;
$grid-gutter-width:           40px !default;

// custom weights
$weight-light:               300;
$weight-medium:              400;
$weight-semi-bold:           600;
$weight-heavy:               800;


$typeface-body:              'Graphik', Helvetica;

//spacing
$spacer-xs:                  0.75rem;
$spacer-s:                   1.5rem;
$spacer-m-mobile:            1rem;
$spacer-m:                   2.35rem;
$spacer-l-mobile:            2.35rem;
$spacer-l:                   4.7rem;
$page-spacer-top:            10rem;
$page-spacer-top-m:          2.5rem;
$page-spacer-top-md-m:       3.5rem;
$page-spacer-top-md:         15rem;
$page-spacer-top-lg-m:       5rem;
$page-spacer-top-lg:         20rem;


$header-height:              7.55rem;
$header-height-mobile:       3.75rem;
$header-max-width:           1430px;
$grid-max-width:             1400px;
$page-max-width:             1600px;


// // Font stacks and @font-face
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: $weight-light;
  src: local('Graphik Light'), local('Graphik-Light'),
       url('~@/assets/fonts/Graphik-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('~@/assets/fonts/Graphik-Light.woff') format('woff'), /* Modern Browsers */
       url('~@/assets/fonts/Graphik-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  src: local('Graphik Regular'), local('Graphik-Regular'),
       url('~@/assets/fonts/Graphik-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~@/assets/fonts/Graphik-Regular.woff') format('woff'), /* Modern Browsers */
       url('~@/assets/fonts/Graphik-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

// @font-face {
//   font-family: 'Graphik';
//   font-style: normal;
//   font-weight: 600;
//   src: local('Graphik Medium'), local('Graphik-Medium'),
//        url('~@/assets/fonts/Graphik-Medium.woff2') format('woff2'), /* Super Modern Browsers */
//        url('~@/assets/fonts/Graphik-Medium.woff') format('woff'), /* Modern Browsers */
//        url('~@/assets/fonts/Graphik-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
// }
